In [1]:
from multi_funcs import *
from funcs import *
from tarjan_alg import *

In [2]:
results = gs_f_simulate(100, 10000, 10)

In [6]:
len(results[0][3][0])

4211

In [8]:
make_df_cycles(10000, 4, results, save=True)

        n  k  n_cycles  n_agents_in_cycles  n_matches  percent_in_cycles
0   10000  4         3                4298       9654           0.445204
1   10000  4         2                4144       9669           0.428586
2   10000  4         2                4247       9658           0.439739
3   10000  4         1                4263       9680           0.440393
4   10000  4         2                4258       9670           0.440331
..    ... ..       ...                 ...        ...                ...
95  10000  4         2                4430       9667           0.458260
96  10000  4         1                4279       9642           0.443788
97  10000  4         2                4461       9666           0.461515
98  10000  4         1                4016       9649           0.416209
99  10000  4         1                4271       9664           0.441950

[100 rows x 6 columns]

In [5]:
ks = [3,4,5,6,7,8,9,10]
ns = [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000]

for i in ks:
    for j in ns:
        results = gs_f_simulate(100, j, i)
        make_df_cycles(j, i, results, save=True)

In [2]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir('data/simulations/cycles')]

In [4]:
df = concat(onlyfiles, 'data/simulations/cycles/')

In [5]:
df

,Unnamed: 0,n,k,n_cycles,n_agents_in_cycles,n_matches,percent_in_cycles
0,0,10000,10,1,4524,9645,0.469051
1,1,10000,10,2,4340,9664,0.449089
2,2,10000,10,1,4203,9655,0.435318
3,3,10000,10,1,4167,9663,0.431233
4,4,10000,10,1,4290,9650,0.444560
...,...,...,...,...,...,...,...
7995,95,9000,9,1,3482,8645,0.402776
7996,96,9000,9,1,3289,8645,0.380451
7997,97,9000,9,2,3555,8646,0.411173
7998,98,9000,9,1,3425,8635,0.396642
7999,99,9000,9,1,3585,8629,0.415459

In [ ]:
[[1,2],[2,3],[3,1], [0,1], [0,2], [2,1]]